body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    width: 300px;
}
.login-container input[type="email"],
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px 1px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container input[type="checkbox"] {
    width: 5%;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 100px;
}
#submit-button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#submit-button:hover {
    background-color: #45a049;
}
#submit-button:active {
    background-color: #3e8e41;
}
#register-link{
    margin: 15px;
    color: #4CAF50;
}