body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    width: 350px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.login-container input[type="email"],
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px 1px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container input[type="checkbox"] {
    width: 5%;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 100px;
}
.button-container {
    padding: 15px;
    text-align: center;
    margin: 0 0 -10px 0;
}
.submit-button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: large;
    transition: background-color 0.3s;
}
.submit-button:hover {
    background-color: #0056b3;
}
.register-link{
    margin: -5px;
    color: #007bff;
}
#home-link{
    color: #007bff;
    cursor: pointer;
}
#home-link:hover {
    color: #0056b3;
}